body {
     margin: 0;
      font-family: Roboto;
      background-color: #262626;
    }

    .q-audio {
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: center;
    }

    .q-hls .plyr {
      height: 100vh;
    }

    .plyr__menu__container {
      max-height: calc(100vh - 100% - 20px);
      overflow-y: auto;
    }

    .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    .loader {
      border: 4px solid #000;
      border-top: 4px solid #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin .75s linear infinite;
    }

    .hidden {
      display: none;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .plyr--video:before{font-family: Changa,"Segoe UI";font-size:2.5vw;color:#fff;position:absolute;right:0;bottom:0;left:0;z-index:1;display:flex;flex-direction:column;justify-content:center;align-items:center;pointer-events:none;background:linear-gradient(transparent,);height:150px}
.plyr,.plyr__video-wrapper{width:100% !important;height:100% !important}
.plyr audio,.plyr video{height:100%!important}
  


html,body {height:100%; width:100%; padding:0px; margin:0px; }
.players{position:fixed; height:100%;width:100%; padding:0px; margin:0px;}
video{  object-fit: fill; }

	.dots {content: '';width: 10px;height: 10px;background: #fb6f13;position: absolute;z-index: 1;border-radius: 50%;margin:10px}
	.dots::before {content: '';position: relative;display: block;width: 300%;height: 300%;box-sizing: border-box;margin-left: -100%;margin-top: -100%;border-radius: 45px;background-color: #fb6f13;animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;}
	.dots::after {content: '';position: absolute;left: 0;top: 0;display: block;width: 100%;height: 100%;border-radius: 15px;box-shadow: 0 0 8px rgba(0,0,0,0.3);animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite}
	.item-post .post-body {font-family: 'Inter', sans-serif;font-size: 15.3px}
	.plyr {--plyr-color-main: #ff6600;box-shadow: 0px 0px 19px rgba(30,30,30,.1);border-radius: 0;}
	.plyr__volume {min-width: 190px}
	#idch {right: 2%;position: fixed;/bottom: 12.9%/}
	.plyr__video-wrapper::before {position:absolute;top:45%;z-index:2;opacity:.7;content:'';height:100%;width:100px;background:url('https://raw.githack.com/HeNy007/AliwixPlayer/main/assets/plyr/aliwixteamlogo.png') no-repeat;background-size:100px auto,auto;right:5%;}
	.plyr_controlsitem.plyr_volume::before {content: 'LIVE';font-weight: 900;margin-right: 5px}
	@keyframes pulse-ring {
	0% {
	transform: scale(0.33);
	}
	100%, 100% {
	opacity: 0;
	}
	}
	@keyframes pulse-dot {
	0% {
	transform: scale(0.8);
	}
	100% {
	transform: scale(1);
	}
	100% {
	transform: scale(0.8);
	}
	}
	
	
	
	.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #130014 url("https://github.com/HeNy007/HeNy007.github.io/raw/main/img/coverjwplayer.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	}
	
	#dlna { position: fixed; z-index: 99999999; right: 25px; text-align: center; border-radius: 50%; cursor: pointer; bottom: 67px; } #tme_message { position: absolute; bottom: 0; right: -10px; width: 300px; padding: 10px; } #dlna_message:after, #dlna_message:before { content: ' ' ; position: absolute; bottom: -21px; right: 23px; border-style: solid; height: 0; width: 0; border-width: 10px; border-color: transparent; } #dlna_message p { margin: 0px 0; font-size: 12px; color: #8e8e8e; text-align: right; } .clossalert { position: absolute; right: 0px; font-size: 14px; border-radius: 50%; width: 30px; height: 30px; top: -17px; ; border: unset !important; } #dlna_message a { margin: 6px 4px; font-weight: bold; color: #FFF; background: #0088cc; border-radius: 6px; display: inline-block; padding: 10px; text-decoration: none; } .player-poster[data-poster] { background-size: 100% !important; }
	
